:root{
    --prop: 5rem;
}
*{
    font-family: sans-serif
}
html{
    background-color: rgb(47, 13, 42);
    overflow: hidden;
}
body{
    margin: 5rem auto;
    width: 26.5rem;
}
main{
    border: solid rgb(8, 155, 155) 1px ;
    padding: 2rem;
    padding-left: 2.63rem;
    /* border-radius: 5%; */
    background-color:rgb(25, 25, 25);
    box-shadow: 3px 3px 10px 3px black;
}
button{
    width:var(--prop);
    height: var(--prop);
    margin:auto;
    font-size: 2.2rem;
    margin: 0rem 0rem 0.3rem 0.05rem;
    color: cyan;
    background-color: rgb(37, 37, 37);
    border: transparent;
    border-radius: 10%;
    box-shadow: 3px 3px 10px 3px black;
    transition: 250ms;
}
button:hover{
    border-radius: 50%;
    background-color: rgb(58, 58, 58);
    color: rgb(117, 232, 232);
}
input{
    font-size: 2.5rem;
    width: calc(var(--prop)*4 + 0.6rem);
    height: 4rem;
    margin-bottom: 2rem;
    box-shadow: 3px 3px 10px 3px black;
    border: transparent;
    background-color: rgb(207, 207, 207);
    color: rgb(0, 0, 0);
    text-align: right;
    transition: 500ms;
}
input:hover{
    transform: scale(200%);
    background-color: rgb(151, 203, 191);
}
.eq{
    background-color: rgb(31, 98, 185);
    color: rgb(0, 0, 0);
}
.del{
    background-color: rgb(226, 1, 1);
    color:rgb(0, 0, 0)
}
.eq:hover{
    background-color: rgb(58, 122, 206);
    color: black;
}
.del:hover{
    background-color: rgb(255, 11, 11);
    color:rgb(0, 0, 0)
}